{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}} - Eurazcom</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<section class="container">
	<div class="col-xl-7 mx-xl-auto p-5">
		<div class="card p-3">
			<div class="text-center mb-3 p-3">
				<img src="{% static 'img/success.png' %}" class="img-card img-center" width="100">
				<h6 class="fw-bold text-muted">Mail send Successfuly</h6>
			</div>
			<p class="text-center">
				Le mail de reinitialisation de mot de passe a ete envoye avec success. <br>
			</p>
			<p class="text-center">
				Si vous n'avez pas recu de lien !! 
				<!-- Button trigger modal -->
				<button type="button" class="bg-none btn btn-outline-none text-primary" style="box-shadow: none;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				  Demander un nouveau lien
				</button>
				<!-- <a href="">Demander un nouveau lien</a> -->
			</p>
			
		</div>
		<div class="mt-5">
			{% now "Y" as current_year %}
			&copy; Eurazcom   {{ current_year }}
		</div>
	</div>

</section>
 
</body>
</html>

