{% extends 'eurazcom/authentication.html' %}
{% load static %} 
 
{% block content %}
<!-- authfy-login start -->
<div class="authfy-login">
  <!-- panel-forget start -->
  <div class="authfy-panel panel-forgot active">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="authfy-heading">
          <h3 class="auth-title">Recover your password</h3>
          <p>Fill in your e-mail address below and we will send you an email with further instructions.</p>
        </div>
        {% if messages %}
          {% for message in messages %}
           <div class="alert alert-danger fs-6" role="alert" style="min-height: 20px;">
              <div style="text-align: left;">
                {{message}}
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <form name="forgetForm" class="forgetForm" method="POST"  action="{% url 'auth:forgot_password' %}" autocomplete="  " novalidate>
          {% csrf_token %}
          <div class="form-group">
            {{form.email}}
            {% autoescape off %}
              <span style="text-align: left;">{{ form.email.errors }}</span>
            {% endautoescape %}
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Recover your password</button>
          </div>
          <div class="form-group">
            <a   href="{% url 'auth:sign_in' %}">Already have an account?</a>
          </div>
          <div class="form-group">
            <a   href="{% url 'auth:sign_up' %}">Don’t have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- ./panel-forgot -->
</div> <!-- ./authfy-login -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
 
{% endblock %}