{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css">
    	.col-xl-7{
    		max-width: auto;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		/*border: 1px solid black;*/
    	}
    	.col-xl-7 .link{color: #fff; background: #00f; border-radius: 10px; padding: 10px; text-decoration: none; font-weight: bold; }
    </style>
</head>
<body>
	<div class="col-xl-12 mx-auto">
		<div class="card">
			<div class="card-header" style="display: flex; background: blue;color: #fff;">
				<img src="{% static 'img/logo.png' %}">
				<h2>Activation de compte client Eurazcom</h2>
			</div>
			<hr>
			<div class="card-body">
				<div class="card-text">
					Mr/Mme {{user.name}} nous vous informons que votre project a ete creer avec succes et a deja ete bien receptionne par notre equipe.
					*************************************
					* code projet : {{otp_code}}		*
					*************************************
				</div>
				<div class="card-text">Nous vous repondrons dans un delais de 48 heures maximum pour votre devis</div>
				<hr>
				<div class="card-text">
					En cas de soucis contactez notre equipe clientelle :
					<span class="text-primary">+237 699 93 96 33 - 680 63 80 86</span> 
					<span class="text-primary">Email: contact@eurazcom.com</span>
				</div>
				<hr>
				<div class="card-footer" style="background: blue; color: #fff; padding: 15px;">
					 {% now "Y" as current_year %}
					 &copy; Copyright Eurazcom   {{ current_year }} Tout droit reserve
				</div>
			</div>
		</div>
	</div>
     
</body>
</html> 
  


 