{% load static %}
<link  rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 py-5 text-center" style="margin-top: 100px;">

	<img src="{% static 'img/account_blocked.png' %}">
	<h1>Account Locked</h1>
	<p>Too many login attempts . Please try again after 1 hours.</p>
	<p>
		<a href=""><img src="{% static 'img/1.png' %}"></a>
	</p>
</div>