{% extends 'eurazcom/authentication.html' %}
{% load static %} 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block content %}
<!-- authfy-login start -->
<div class="authfy-login">
  <!-- panel-login start -->
  <div class="authfy-panel panel-login text-center active">
    <div class="authfy-heading">

      <h3 class="auth-title">Account verification</h3>

      <!-- <p>Don’t have an account? <a href="{% url 'auth:sign_up' %}">Sign Up Free!</a></p> -->
    </div>
    {% if messages %}
      {% for message in messages %}
       <div class="alert alert-danger d-flex align-items-center" role="alert" style="min-height: 20px;">
          <div>
            {{message}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <form name="loginForm" class="loginForm"  method="POST" action="{% url 'auth:2fa_account_verify' %}" autocomplete="Off" novalidate>
          {% csrf_token %}
          <div class="form-group">
            {{form.otp_secret}}
            {% autoescape off %}
              <span style="text-align: left;">{{ form.otp_secret.errors }}</span>
            {% endautoescape %}
          </div>
        
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Verification </button>
          </div>

        </form>
        <div class="mt-5 pt-5">
          <button class="btn bg-none btn-lg border-0 fw-bold text-primary" type="button" id="btn-nouveau-code">
            Demander un nouveau code
          </button>
        </div>
      </div>
    </div>
  </div> <!-- ./panel-login -->
  <p class="p-5">En cas de soucis contacter notre <a href="">centre d'aide</a></p>
</div> <!-- ./authfy-login -->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
 <script src="{% static 'js/registerse.js' %}"></script>
 <script>
$(document).ready(function() {
  $("#btn-nouveau-code").click(function() {
    $.ajax({
      url: "{% url 'auth:new_otp_secret_code' %}",
      type: "GET",
      success: function(data) {
        // Traitez ici la réponse de la demande de nouveau code
        alert("Nouveau code demandé avec succès !");
      },
      error: function(xhr, status, error) {
        // Traitez ici les erreurs éventuelles
        alert("Erreur lors de la demande de nouveau code : " + error);
      }
    });
  });
});
</script>
{% endblock %}