{% load static %}

{% load tz %}

<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}} - Eurazcom</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<section class="container">

	<div class="mb-0  p-4">
		<a href=""><img src="{% static 'img/logo.png' %}"></a>
	</div>

	<div class="col-xl-7 mx-xl-auto p-5">
		<div class="card p-3">
			<div class="text-center mb-3 p-3">
				<img src="{% static 'img/failed.jpeg' %}" class="img-card img-center" width="50" height="50">
				<h6 class="fw-bold text-muted">Account created success</h6>
			</div>
			<p>
				Nous desole mais une erreur c'est produite lors de la creation de votre compte. 
				Veuillez reessayer plus tard svp.
			</p>
			<p>
				<a href="{% url 'auth:sign_in' %}">Connectez-vous</a>
			</p>
			
		</div>
		<div class="mt-5">

			{% now "Y" as current_year %}
		    &copy; Eurazcom   {{ current_year }} 

			&copy; Eurazcom  

		</div>
	</div>

</section>
 
</body>
</html>

