{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}} - Eurazcom</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<section class="container">

  <div class="mb-0  p-4">
    <a href=""><img src="{% static 'img/logo.png' %}"></a>
  </div>

	<div class="col-xl-7 mx-xl-auto p-5">
    {% if messages %}
      {% for message in messages %}
       <div class="alert alert-danger d-flex align-items-center" role="alert" style="min-height: 20px;">
          <div>
            {{message}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
		<div class="card p-3">
			<div class="text-center mb-3 p-3">
				<img src="{% static 'img/sucess.png' %}" class="img-card img-center" width="50" height="50">
				<h6 class="fw-bold text-muted">Account created success</h6>
			</div>
			<p>
				Votre compte a ete cree avec success. Un mail contenant le lien d'activation de votre compte
				vous a ete envoye via votre boite mail, verifiez et cliquez dessus pour activer votre compte.
			</p>
			<p>
				Si vous n'avez pas recu de lien !! 
				<!-- Button trigger modal -->
  
				<button type="button" class="bg-none btn btn-outline-none text-primary" style="box-shadow: none;"
          {% if request.session.create_user_email %}
    id="generate-new-link-activation"
{% else %}
    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
{% endif %}
        >
          Demander un nouveau lien d'activation
      </button>
				<!-- <a href="">Demander un nouveau lien</a> -->
			</p>
			
		</div>
		<div class="mt-5">
			{% now "Y" as current_year %}
      &copy; Eurazcom   {{ current_year }}
		</div>
	</div>

</section>
 

<!-- Modal -->
{% if request.session.create_user_email %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Obtenez votre nouveau lien d'activation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	      <form novalidate>
	      	{% csrf_token %}
        	<div class="form-group mb-3">
        		<label>Enter your email adress</label>
        		{{form.email}}
        		{% autoescape off %}
        			{{ form.email.errors }}
        		{% endautoescape %}
        	</div>
        	<div class="form-group d-flex  justify-content-end">
        		<button type="submit" class="btn btn-primary btn-sm rounded-pill fw-bold" style="box-shadow: none;">Send new link</button>
        	</div>
	     </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script type="text/javascript">
   $(document).ready(function() {
    $("#generate-new-link-activation").click(function() {
      $.ajax({
        url: "{% url 'auth:resent_new_activation_link' %}",
        type: "GET",
        success: function(data) {
          // Traitez ici la réponse de la demande de nouveau code
          alert("Nouveau code demandé avec succès !");
        },
        error: function(xhr, status, error) {
          // Traitez ici les erreurs éventuelles
          alert("Erreur lors de la demande de nouveau code : " + error);
        }
      });
    });
  });
</script>
<script>
document.querySelector('#staticBackdrop form').addEventListener('submit', function(event) {
  event.preventDefault(); // Empêche le comportement par défaut du formulaire

  var formData = new FormData(event.target);

  fetch('/u/resent_new_activation_link/', {
    method: 'POST',
    body: formData
  })
  .then(function(response) {
    if (response.ok) {
      
    } else {
      // Gérer les cas où la réponse n'est pas "ok" ici
    }
  })
  .catch(function(error) {
    // Une erreur s'est produite lors de la soumission du formulaire, vous pouvez la gérer ici
  });
});
</script>

</body>
</html>

