{% extends 'eurazcom/authentication.html' %}
{% load static %} 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block content %}
<!-- authfy-login start -->
<div class="authfy-login">
  <!-- panel-login start -->
  <div class="authfy-panel panel-login text-center active">
    <div class="authfy-heading" style="margin-top: -40px;">
      <h3 class="auth-title">Login to your account</h3>
      <p>Don’t have an account? <a href="{% url 'auth:sign_up' %}">Sign Up Free!</a></p>
    </div>
    {% if messages %}
      {% for message in messages %}
       <div class="alert alert-danger fs-6" role="alert" style="min-height: 20px;">
          <div style="text-align: left;">
            {{message}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <form name="loginForm" class="loginForm"  method="POST" action="{% url 'auth:sign_in' %}" autocomplete="On" novalidate>
          {% csrf_token %}
          <div class="form-group">
            {{form.email}}
            {% autoescape off %}
              <span style="text-align: left;">{{ form.email.errors }}</span>
            {% endautoescape %}
          </div>
          <div class="form-group">
            <div class="pwdMask">
              {{form.password}}
              <span class="fa fa-eye-slash pwd-toggle"></span>
              {% autoescape off %}
                <span style="text-align: left;">{{ form.password.errors }}</span>
              {% endautoescape %}
            </div>
          </div>
          <!-- start remember-row -->
          <div class="row remember-row">
            <div class="col-xs-6 col-sm-6">
              <label class="checkbox text-left">
                <input type="checkbox" value="remember-me">
                <span class="label-text">Remember me</span>
              </label>
            </div>
            <div class="col-xs-6 col-sm-6">
              <p class="forgotPwd">
                <a   href="{% url 'auth:forgot_password' %}">Forgot password?</a>
              </p>
            </div>
          </div> <!-- ./remember-row -->
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion </button>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- ./panel-login -->

</div> <!-- ./authfy-login -->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
 <script src="{% static 'js/registerse.js' %}"></script>
{% endblock %}