{% extends 'eurazcom/authentication.html' %}
{% load static %} 
{% load tz %} 
{% block register_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registe.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/guillaumepotier/Parsley.js@2.9.2/src/parsley.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/guillaumepotier/Parsley.js@2.9.2/doc/assets/docs.css">
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/guillaumepotier/Parsley.js@2.9.2/bower_components/bootstrap/dist/css/bootstrap.css"> -->
{% endblock %}
{% block content %}
  <div class="authfy-login">
    <div class="authfy-panel panel-signup active">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="authfy-heading" style="margin-top: -40px;">
            <h3 class="auth-title text-center">Sign up for free!</h3>
          </div>
          {% if messages %}
            {% for message in messages %}
             <div class="alert alert-danger fs-6" role="alert" style="min-height: 20px;">
                <div style="text-align: left;">
                  {{message}}
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <form class="demo-form" id="myform" action="{% url 'auth:sign_up' %}" method="POST" autocomplete="Off" novalidate>
            {% csrf_token %}
            <div class="form-section">
              <div class="form-group">
                <label for="firstname">Name:</label>
                {{form.name}}
                {% autoescape off %}
                  {{ form.name.errors }}
                {% endautoescape %}
              </div>

              <div class="form-group">
                <label for="firstname">Email:</label>
                {{form.email}}
                {% autoescape off %}
                  {{ form.email.errors }}
                {% endautoescape %}
              </div>

              <div class="form-group">
                <label for="firstname">Phone:</label>
                {{form.phone}}
                {% autoescape off %}
                  {{ form.phone.errors }}
                {% endautoescape %}
              </div>
            </div>

            <div class="form-section mb-4" style="margin-bottom: 40px; margin-top: 90px;">
              <label class="text-start">{{form.status.label}}</label>
              <div class="row">
                {% for statut in form.status %}
                  <div class="col-md-6">{{statut}}</div>
                {% endfor %}
              </div>
            </div>

            <div class="form-section"style="margin-bottom: 40px; margin-top: 40px;">
              <div class="form-group">
                <label for="firstname">Password:</label>
                {{form.password}}
                {% autoescape off %}
                  {{ form.password.errors }}
                {% endautoescape %}
              </div>

              <div class="form-group">
                <label for="firstname">Confirm password:</label>
                {{form.password_confirm}}
                {% autoescape off %}
                  {{ form.password_confirm.errors }}
                {% endautoescape %}
              </div>

              <div class="form-group">
                <p class=" ">I agree to the <a href="#">privacy policy</a> and <a href="#">terms of service</a>.</p>
              </div>
            </div>

            <div class="form-navigation mb-4">
              <button type="button" class="previous btn btn-primary pull-left">&lt; Previous</button>
              <button type="button" class="next btn btn-primary pull-right">Continuer &gt;</button>
              <input type="submit" class="btn btn-primary pull-right" value="Create account">
              <span class="clearfix"></span>
            </div>

          </form>
          <p  style="position: fixed; bottom: 0px; "><a  href="{% url 'auth:sign_in' %}">Already have an account?</a></p>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/gh/guillaumepotier/Parsley.js@2.9.2/dist/parsley.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static 'js/registerses.js' %}"></script>
     
 
{% endblock %}