{% extends 'eurazcom/authentication.html' %}
{% load static %} 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block content %}
<!-- authfy-login start -->
<div class="authfy-login">
  <!-- panel-login start -->
  <div class="authfy-panel panel-login text-center active">
    <div class="authfy-heading">
      <h3 class="auth-title">Login to your account</h3>
      <p>Don’t have an account? <a href="{% url 'auth:sign_up' %}">Sign Up Free!</a></p>
    </div>
    {% if messages %}
      {% for message in messages %}
       <div class="alert alert-danger d-flex align-items-center" role="alert" style="min-height: 20px;">
          <div>
            {{message}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <form name="loginForm" class="loginForm"  method="POST" action="{% url 'auth:sign_in' %}" autocomplete="Off" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <div class="pwdMask">
              {{form.password}}
              <span class="fa fa-eye-slash pwd-toggle"></span>
              {% autoescape off %}
                <span style="text-align: left;">{{ form.password.errors }}</span>
              {% endautoescape %}
            </div>
          </div>
          <div class="form-group">
            <div class="pwdMask">
              {{form.password_confirm}}
              <span class="fa fa-eye-slash pwd-toggle"></span>
              {% autoescape off %}
                <span style="text-align: left;">{{ form.password_confirm.errors }}</span>
              {% endautoescape %}
            </div>
          </div>
         
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password now </button>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- ./panel-login -->

</div> <!-- ./authfy-login -->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
 <script src="{% static 'js/registerse.js' %}"></script>
{% endblock %}