{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}} - Eurazcom</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<section class="container">

	<div class="mb-0  p-4">
		<a href=""><img src="{% static 'img/logo.png' %}"></a>
	</div>

	<div class="col-xl-7 mx-xl-auto p-5">
		<div class="card p-3 text-center">
			<div class="text-center mb-3 p-3">
				<img src="{% static 'img/success.png' %}" class="img-card img-center" width="50" height="50">
				<h6 class="fw-bold text-muted">Account Activate Successfuly</h6>
			</div>
			<p>
				Votre compte a ete active avec success. <br>
				<a href="{% url 'auth:sign_in' %}" class="btn btn-primary btn-sm rounded-pill fw-bold">Connectez-vous</a>
			</p>
			<p>
				Si vous n'avez pas recu de lien !! 
				<!-- Button trigger modal -->
				<button type="button" class="bg-none btn btn-outline-none text-primary" style="box-shadow: none;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				  Demander un nouveau lien
				</button>
				<!-- <a href="">Demander un nouveau lien</a> -->
			</p>
			
		</div>
		<div class="mt-5">
			{% now "Y" as current_year %}
			&copy; Eurazcom   {{ current_year }}
		</div>
	</div>

</section>
 
</body>
</html>

