{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}} - Eurazcom</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<section class="container">
 
  <div class="mb-0  p-4">
    <a href=""><img src="{% static 'img/logo.png' %}"></a>
  </div>

	<div class="col-xl-7 mx-xl-auto p-5">
		<div class="card p-3">
			<div class="text-center mb-3 p-3">
				<img src="{% static 'img/failed.png' %}" class="img-card img-center" width="50" height="50">
				<h6 class="fw-bold text-muted">Activation Failed</h6>
			</div>
			<p>
				le processus d'ativation de votre compte n'est pas arrive a son terme. Cela peux etre du au raisons suivantes: <br>
				<ul>
					<ol>
						<li>votre lien d'activation a expire > 48h</li>
						<li></li>
					</ol>
				</ul>
			</p>
			<p>
				Si vous n'avez pas recu de lien !! 
				<!-- Button trigger modal -->
				<button type="button" class="bg-none btn btn-outline-none text-primary" style="box-shadow: none;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				  Demander un nouveau lien
				</button>
				<!-- <a href="">Demander un nouveau lien</a> -->
			</p>
			
		</div>
		<div class="mt-5">
			{% now "Y" as current_year %}
      &copy; Eurazcom   {{ current_year }}
		</div>
	</div>

</section>
 

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Obtenez votre nouveau lien d'activation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	      <form novalidate>
	      	{% csrf_token %}
        	<div class="form-group mb-3">
        		<label>Enter your email adress</label>
        		{{form.email}}
        		{% autoescape off %}
        			{{ form.email.errors }}
        		{% endautoescape %}
        	</div>
        	<div class="form-group d-flex  justify-content-end">
        		<button type="submit" class="btn btn-primary btn-sm rounded-pill fw-bold" style="box-shadow: none;">Send new link</button>
        	</div>
	     </form>
      </div>
    </div>
  </div>
</div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script>
document.querySelector('#staticBackdrop form').addEventListener('submit', function(event) {
  event.preventDefault(); // Empêche le comportement par défaut du formulaire

  var formData = new FormData(event.target);

  fetch('/u/resent_new_activation_link/', {
    method: 'POST',
    body: formData
  })
  .then(function(response) {
    if (response.ok) {
      var contentType = response.headers.get('content-type');
      if (contentType && contentType.includes('application/json')) {
        return response.json().then(function(data) {
          if (data.errors) {
            // Afficher les erreurs dans le modal
            var errors = JSON.parse(data.errors);
            for (var field in errors) {
              if (errors.hasOwnProperty(field)) {
                var errorMessages = errors[field];
                // Faites quelque chose avec les messages d'erreur, par exemple, les afficher dans le modal
                var errorContainer = document.getElementById(field + '-error');
                if (errorContainer) {
                  errorContainer.innerHTML = errorMessages.join(', ');
                }
              }
            }
          } else {
            // La requête a réussi, vous pouvez effectuer des actions supplémentaires ici
            console.log('Formulaire soumis avec succès');
            // Effectuez ici les actions que vous souhaitez après la soumission réussie du formulaire
          }
        });
      } else {
        // Gérer le cas où la réponse n'est pas au format JSON
        console.error('La réponse n\'est pas au format JSON');
      }
    } else {
      // Gérer les cas où la réponse n'est pas "ok" ici
    }
  })
  .catch(function(error) {
    // Une erreur s'est produite lors de la soumission du formulaire, vous pouvez la gérer ici
    console.error('Une erreur s\'est produite lors de la soumission du formulaire', error);
  });
});
</script>

</body>
</html>

