{% load static %}
{% load tz %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<div class="container">
	<div class="col-xl-12 mx-auto">
		<div class="card">
			<div class="card-header" style="display: flex; background: blue;color: #fff;">
				<img src="{% static 'img/logo.png' %}">
				<h2>Verification de votre idenntite</h2>
			</div>
			<hr>
			<div class="card-body">
				<div class="card-text" style="text-align: center;">
					Votre code de verification d'identite 
				</div>
				<div class="card-text text-center" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
				   <p style="font-size: 2rem; font-weight: bold;">{{ otp_code }}</p>
				</div>
				<div class="card-text" style="text-align: center;">
					Ce code a une duree de validite de 24h.
				</div>
				<hr>
				<div class="card-text">
					En cas de soucis contactez notre equipe clientelle :
					<span class="text-primary">+237 699 93 96 33 - 680 63 80 86</span> 
					<span class="text-primary">Email: contact@eurazcom.com</span>
				</div>
				<hr>
				<div class="card-footer" style="background: blue; color: #fff; padding: 15px;">
					 {% now "Y" as current_year %}
					 &copy; Copyright Eurazcom   {{ current_year }} Tout droit reserve
				</div>
			</div>
		</div>
	</div>
    
</div> 

 