<!DOCTYPE html>
<html lang="zxx">
{% load static %}

  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- For Search Engine Meta Data  -->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="yoursite.com" />
    
    <title>{{page_title}} - Eurazcom</title>

    <link  rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="{% static 'img/favicon-16x16.html' %}"/>
    {% block register_css %}{% endblock %}
     
    <!-- Main structure css file -->
    <link  rel="stylesheet" href="{% static 'css/auth_log.css' %}">
    <link  rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link  rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

  </head>

  <body>
      <!-- Start Preloader -->
      <div id="preload-block">
        <div class="square-block"></div>
      </div>
      <!-- Preloader End -->
      <div class="container-fluid">
        <div class="row" >
          <div  class="authfy-container col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
            <div class="col-sm-5 authfy-panel-left">
              <div class="brand-col">
                <div class="headline">
                  <!-- brand-logo start -->
                  <div class="brand-logo">
                    <img src="{% static 'img/logo.png' %}" width="190" alt="brand-logo">
                  </div>
                  <p>Login using social media to get quick access</p>
                  <!-- social login buttons start -->
                  <div class="row social-buttons">
                    <div class="col-xs-4 col-sm-4 col-md-12">
                      <a href="#" class="btn btn-block btn-facebook">
                        <i class="fa fa-facebook"></i> <span class="hidden-xs hidden-sm">Signin with facebook</span>
                      </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-12">
                      <a href="#" class="btn btn-block btn-twitter">
                        <i class="fa fa-twitter"></i> <span class="hidden-xs hidden-sm">Signin with twitter</span>
                      </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-12">
                      <a href="#" class="btn btn-block btn-google">
                        <i class="fa fa-google-plus"></i> <span class="hidden-xs hidden-sm">Signin with google</span>
                      </a>
                    </div>
                  </div><!-- ./social-buttons -->
                </div>
              </div>
            </div>
            <div class="col-sm-7 authfy-panel-right">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>  
      </div> 
 
      <!-- for Bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
      <!-- Custom js-->
      <script src="{% static 'js/custom.js' %}"></script>
      
  </body> 
</html>